<section id="contact">
    <div class="container-lg">
        <div class="text-center mt-4">
            <h2>Zaboravili ste lozinku?</h2>
            <p class="lead fs-5">Unesite korisnicko ime kako bi dobili bezbednosno pitanje</p>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-lg-6">
                <form>
                    <label for="text" class="form-label">Korisnicko ime:</label>
                    <div class="mb-4 input-group">
                        <input type="text" class="form-control" id="username" name="username" 
                        placeholder="Vase korisnicko ime" [(ngModel)] = "username">
                    </div>
                    <div class="mb-4 text-center">
                        <button  type="submit" class="btn btn-dark btn-outline-light" (click)="getQuestion()">
                            Prikazite vase pitanje
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <div class="row justify-content-center my-5">
            <div class="col-lg-6">

                <div class="text-center">
                    <label for="subject" class="lead fs-5 mb-4">
                        Molimo Vas odgovorite na postavljeno pitanje: <span class="fw-normal fst-italic">{{question}}</span>
                    </label>

                    <p class="lead fs-5"></p>

                </div>
                <div class="mb-4 input-group">
                    <input type="text" class="form-control" id="answer" name="answer"
                     placeholder="Odgovorite na pitanje" [(ngModel)]= "answer">
                </div>
                
                <div class="mb-4 text-center">
                    <button  type="submit" class="btn btn-dark btn-outline-light" (click)="goToReset()">Potvrda</button>
                </div>    
                
            </div>
        </div>


    </div>
 </section>
