<section class="h-auto gradient-custom" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">

              <div class="mb-md-4 mt-md-4 pb-4">
  
                <h2 class="fw-bold mb-4">Promena lozinke</h2>
                <!-- <p class="text-black mb-4">Molimo Vas unesite novu lozinku</p> -->
  
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="password" id="typePasswordNewX" class="form-control form-control-lg" [(ngModel)] = "passwordN" />
                  <label class="form-label text-black" for="typePasswordNewX">Unesite novu lozinku</label>
                </div>
  
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="password" id="typePasswordRX" class="form-control form-control-lg" [(ngModel)] = "passwordR" />
                  <label class="form-label text-black" for="typePasswordRX">Potvrdite lozinku</label>
                </div>
  
                <button data-mdb-button-init data-mdb-ripple-init 
                class="btn btn-outline-dark btn-lg px-5 mt-2" type="submit" (click)="changePassword()">
                    Promenite lozinku
                </button>
              </div>
  
             
              
  
            </div>
          </div>
        </div>
  </section>

